<div class="ibox-content">
    <form th:action="@{/tes/menu/add}" th:method="post">

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nama Menu</label>
            <div class="col-lg-10"><input type="text" class="form-control" name="nama">
            </div>

        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">URL</label>
            <div class="col-lg-10"><input type="text" class="form-control" name="url">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Parent</label>
            <div class="col-lg-10">
                <select class="form-control" name="parent" searchable="Cari Parent">
                    <option th:value="0" text="--Cari Parent--"></option>
                    <option th:each="c : ${daftarmenu}"
                            th:selected="(${c} == *{selected})"
                            th:text="${c.nama}"
                            th:value="${c.id}">##</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Organisasi</label>
            <div class="col-lg-10">
                <select class="form-control" name="organisasi" searchable="Cari Organisasi">
                    <option th:value="0" text="--Cari Organisasi--"></option>
                    <option th:each="d : ${daftarorganisasi}"
                            th:selected="(${d} == *{selected})"
                            th:text="${d.name}"
                            th:value="${d.id}">##</option>
                </select>
            </div>
        </div>

        <div class="hr-line-dashed"></div>
        <div class="form-group row">
            <div class="col-sm-4 col-sm-offset-2">
                <button class="btn btn-white btn-sm" type="reset">Reset</button>
                <button class="btn btn-primary btn-sm" type="submit"><i class="fa fa-save"></i> Save changes</button>
            </div>
        </div>
    </form>
</div>